@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy/Gilroy Light/Gilroy Light.eot");
	src:
		url("../fonts/Gilroy/Gilroy Light/Gilroy Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Gilroy/Gilroy Light/Gilroy Light.woff") format("woff"),
		url("../fonts/Gilroy/Gilroy Light/Gilroy Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy/Gilroy Regular/Gilroy Regular.eot");
	src:
		url("../fonts/Gilroy/Gilroy Regular/Gilroy Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Gilroy/Gilroy Regular/Gilroy Regular.woff") format("woff"),
		url("../fonts/Gilroy/Gilroy Regular/Gilroy Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy/Gilroy Medium/Gilroy Medium.eot");
	src:
		url("../fonts/Gilroy/Gilroy Medium/Gilroy Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Gilroy/Gilroy Medium/Gilroy Medium.woff") format("woff"),
		url("../fonts/Gilroy/Gilroy Medium/Gilroy Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy/Gilroy Bold/Gilroy Bold.eot");
	src:
		url("../fonts/Gilroy/Gilroy Bold/Gilroy Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Gilroy/Gilroy Bold/Gilroy Bold.woff") format("woff"),
		url("../fonts/Gilroy/Gilroy Bold/Gilroy Bold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy/Gilroy SemiBold/Gilroy SemiBold.eot");
	src:
		url("../fonts/Gilroy/Gilroy SemiBold/Gilroy SemiBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Gilroy/Gilroy SemiBold/Gilroy SemiBold.woff") format("woff"),
		url("../fonts/Gilroy/Gilroy SemiBold/Gilroy SemiBold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Kelson Sans RU";
	src: url("../fonts/Kelson Sans RU/Kelson Sans RU Regular/Kelson Sans RU Regular.eot");
	src:
		url("../fonts/Kelson Sans RU/Kelson Sans RU Regular/Kelson Sans RU Regular.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/Kelson Sans RU/Kelson Sans RU Regular/Kelson Sans RU Regular.woff") format("woff"),
		url("../fonts/Kelson Sans RU/Kelson Sans RU Regular/Kelson Sans RU Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Kelson Sans RU";
	src: url("../fonts/Kelson Sans RU/Kelson Sans RU Bold/Kelson Sans RU Bold.eot");
	src:
		url("../fonts/Kelson Sans RU/Kelson Sans RU Bold/Kelson Sans RU Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Kelson Sans RU/Kelson Sans RU Bold/Kelson Sans RU Bold.woff") format("woff"),
		url("../fonts/Kelson Sans RU/Kelson Sans RU Bold/Kelson Sans RU Bold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Enthalpy 298";
	src: url("../fonts/Enthalpy 298/Enthalpy 298.eot");
	src:
		url("../fonts/Enthalpy 298/Enthalpy 298.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Enthalpy 298/Enthalpy 298.woff") format("woff"),
		url("../fonts/Enthalpy 298/Enthalpy 298.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
